.navItem {
  line-height: 40px;
}

.navItem:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  margin: 0 auto;
  background: transparent;
  transition: width 0.2s ease, background-color 0.5s ease;
}

.navItem:hover:after {
  width: 40%;
  background: #fff;
  border-radius: 8px;
}
